* {
    box-sizing: border-box;
}

/*html, body {
    cursor: url(img/cursor1.png), none;
}
 .red:hover, .green:hover, .yellow:hover {
    cursor: url(img/cursor1.png), none;
} */
body {
    margin: 0;
    padding: 0;
    background: url(img/wallpaper1.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.loading {
    background: #111111;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0;
    left: 0;
    z-index: -1;
    animation: loading-end 3s;
}

.loading-img {
    width: 10%;
    border: 0;
    margin-bottom: 10%;
}

.loading-tab {
    width: 40%;
    height: 20px;
    background: #222222;
    border-radius: 15px;
    position: relative;
    margin: 0;
}

.loading-tab hr {
    width: 99.5%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: .25%;
    transform: translateY(-50%);
    margin: 0;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);
    border-radius: 15px;
    border: 0;
    animation: loading 2s;
}
/*
 @keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 99.5%; 
    }
} 
 @keyframes loading-end {
    0% {
        z-index: 9999;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
} */
.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav {
    height: 3%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    position: relative;
}

.nav img {
    height: 80%;
    margin-left: 10px;
    cursor: pointer;
}

.app-nav {
    width: 100%;
    height: 30px;
    background: #dad9da;
    display: flex;
    align-items: center;
    border: 2px solid #d1d1d1;
}

.app {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
    background: #ececec;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 2;
}

.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#drag-1 {
    display: none;
}

#window {
    transition: .3s;
}

.app-nav .button {
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 9999px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.red {
    background: #fc5753;
    margin: 5px 5px 5px 7px;
}
.green {
    background: #37c94e;
}
.yellow {
    background: #fdbd41;
}

.input {
    display: none;
}


.container {
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: default;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ececec;
}

.bottom-nav {
    height: 7%;
    width: 40%;
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    z-index: 100;
    display: flex;
    align-self: center;
    position: absolute;
    border-radius: 5px 5px 0 0;
    align-items: center;
    justify-content: center;
}

.apps {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: 0;
}

.apps:active .app-icon {
    border: 1px solid #424142;
}

.apps:active .app-title {
    background: #005ee1;
}

.apps .app-icon {
    width: 60%;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 5px;
    box-sizing: content-box;
}

.apps {
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.notepad {
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    width: 500px;
    height: 600px;
    background: white;
    display: none;
}

.notepad-app {
    left: 1%;
    top: 4%;
}

.app-title {
    margin: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    cursor: default;
    border-radius: 5px;
    padding: 2px;
}

.bottom-nav-img {
    height: 80%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-nav-button {
    height: 100%;
    width: 50px;
    position: relative;
    background: none;
    border: 0;
    margin: 10px;
    outline: none;
    transition: .3s;
}

.add {
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    border: 0;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    background: #2bcf38;
    outline: none;
    cursor: pointer;
}

.add:hover .fa-plus {
    transform: rotate(90deg);
}

.add .fas {
    color: white;
    font-size: 30px;
    transition: .3s;
}

.note {
    width: 100%;
    max-height: 330px;
    min-height: 80px;
    height: auto;
    border: 2px solid #2bcf38;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 5px;
}

.note-title {
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #2bcf38;
    border-bottom: 2px solid #2bcf38;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
}

.note-description {
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #2bcf38;
}

.descriptions {
    width: 100%;
    height: 80px;
    display: flex;
    overflow: hidden;

}

.content {
    width: 100%;
    height: 0;
    max-height: 240px;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    font-size: 25px;
    border: 0;
    transition: .3s;
    border-bottom: 2px solid #2bcf38;
}

.content-span {
    width: 80%;
    height: 80%;
    text-align: center;
    overflow-wrap: break-word;
    padding: 0;
    margin: 10% 0 10% 10%;
    border: 0;
    transition: .3s;
}

.newNote {
    height: calc(100% - 20px);
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.newNote-title {
    height: 50px;
}

.newNote-content {
    width: 80%;
    margin: 5px;
    font-size: 20px;
    border: 2px solid #2bcf38;
    font-family: 'Raleway', sans-serif;
}

.save {
    z-index: 3;
    transition: .4s;
}

.save:hover {
    transform: rotate(360deg);
}

.left-note {
    width: 10%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #2bcf38;
    border-bottom: 2px solid #2bcf38;
    color: red;
}

.left-note button {
    color: white;
    outline: none;
    border: 0;
    border-radius: 9999px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left-note button:hover i {
    transform: rotate(360deg);
    transition: .5s;
}

.delete-button {
    background: #fc5753;
}

.view-button {
    background: #2bcf38;
    margin-bottom: 5px;
}

.time {
    position: absolute;
    margin: 0;
    right: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.calculator {
    background: #4c4c4c;
    width: 400px;
    height: 580px;
    position: absolute;
    top: calc(50% - 290px);
    left: 5%;
    border-radius: 7px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 2;
}
.calculator .app-nav {
    background: none;
    border: 0;
}
.result {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-span {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
}
.row {
    width: 100%;
    height: 92px;
    margin: 0;
    padding: 0;
    background: #969696;
    display: flex;
}
.calc-button {
    width: 100px;
    height: 100%;
    border: 1px solid #969696;
    margin: 0;
    padding: 0;
    background: #d6d6d6;
    outline: none;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    color: #101010;
    cursor: pointer;
}
.calc-button:active {
    background: #b3b2b3;
}
.calc-right:active {
    background: #ba6823;
}
.zero {
    width: 200px;
}
.calc-right {
    background: #f5923d;
    color: white;
    font-size: 38px;
}
.calc {
    left: 1%;
    top: 8%;
}
.settings-icon {
    top: 12%;
    left: 1%;
}
.settings-content {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    cursor: default;
}
.settings {
    height: 600px;
    width: 800px;
    top: 10%;
    left: 50%;
    display: none;
    flex-direction: column;
}
.settings-app {
    width: 130px;
    max-height: 140px;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    outline: none;
}
.settings-app-title {
    font-family: 'Raleway', sans-serif;
    color: #161c1f;
    font-size: 15px;
}
.settings-img {
    width: 80%;
    border-radius: 5px;
}
.settings-img--small {
    width: 50%;
}
.settings-section {
    width: 100%;
    height: calc(100% - 30px);
    background: #e3e3e3;
    position: absolute;
    cursor: default;
    display: none;
    justify-content: center;
}
.wallpaper {
    width: 150px;
    height: 80px;
    border: 0;
    cursor: pointer;
    background: none;
    margin-top: 10px;
    outline: none;
}
.wallpaper-img {
    height: 95%;
}
.wallpaper-preview {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background: url(img/wallpaper1.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 50%;
}
.back {
    background: #f7f6f7;
    width: 30px;
    height: 90%;
    color: #939393;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid #cdcccd;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}
.settings-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5%;
}
.time-settings {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}
.time-input {
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    color: #161c1f;
    border-radius: 3px;
    border: 2px solid #3a99fc;
    margin: 4px;
}
.time-section {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    color: #161c1f;
}
.time-title {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #161c1f;
}
.date-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.date-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.date-content .time-input {
    margin-right: calc(50% - 40px);
}
.current {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.current .settings-title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}
.current-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}
#hour {
    margin-right: 10px;
}